@(message: String)

@*
@main("Welcome to Play") {*@

@*   @play20.welcome(message, style = "Java")*@

@*}*@

@*<html>*@
    @*<head>*@
        @*<script src='@routes.Assets.at("jquery-1.9.0.min.js")'></script>*@
        @*<scrip type="text/javascript">*@
            @*$(function(){*@

            @*// get websocket class, firefox has a different way to get it*@
            @*var WS = window['MozWebSocket'] ? window['MozWebSocket'] : WebSocket;*@

            @*// open pewpew with websocket*@
            @*var socket = new WS('@routes.Application.wsInterface().webSocketURL(request)');*@

            @*var writeMessages = function(event){*@
            @*$('#socket-messages').prepend('<p>'+event.data+'</p>');*@
            @*}*@

            @*socket.onmessage = writeMessages;*@

            @*});*@
        @*</scrip>*@
    @*</head>*@
    @*<body>*@
        @*<input id="socket-messages"/>*@
    @*</body>*@
@*</html>*@
